<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-list-item>
    <div id="message-row" fxLayout="row" fxLayoutAlign="center center">
      <div><ngx-avatar name="{{ message.sender }}" size="30"></ngx-avatar></div>
      <div>
        <h2
          [ngClass]="{
            'join-message': isJoinMessage,
            'leave-message': isLeaveMessage
          }"
        >
          <span>{{ message.sender }}</span>
          <span *ngIf="isJoinMessage">&nbsp;joined</span>
          <span *ngIf="isLeaveMessage">&nbsp;leaved</span>
        </h2>
      </div>
    </div>
  </mat-list-item>
</div>
<mat-divider></mat-divider>
