<div class="content-wrapper">
  <div id="login-form">
    <div id="greetings"><h1>Welcome dear friend!</h1></div>
    <br />
    <mat-card style="width: 300px">
      <mat-form-field appearance="outline">
        <mat-label>Nikname:</mat-label>
        <input matInput placeholder="McLovin" />
      </mat-form-field>
      <div id="button-wrapper" fxFlex="20">
        <button id="send-button" mat-raised-button color="accent">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
