<div class="content-wrapper">
  <div id="login-form">
    <div id="greetings"><h1>Welcome dear friend!</h1></div>
    <br />
    <mat-card fxLayout="row" fxLayoutAlign="space-evenly center">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nikname:</mat-label>
          <input
            [formControl]="username"
            matInput
            placeholder="McLovin"
            maxlength="10"
            #input
          />
          <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
        </mat-form-field>
        <div id="button-wrapper" fxFlex="20">
          <button id="send-button" mat-raised-button color="accent">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
