<div class="message-wrapper" fxLayout="row" [fxLayoutAlign]="wrapperAlign">
  <mat-card [ngClass]="{ 'companion-message': !isOwnMessage }" class="message">
    <div id="username" fxLayout="row" [fxLayoutAlign]="usernameAlign">
      <div>
        <ngx-avatar
          mat-card-avatar
          name="{{ message.sender }}"
          size="35"
        ></ngx-avatar>
      </div>
      <h3>{{ message.sender }}</h3>
    </div>
    <hr />
    <mat-card-content>
      {{ message.content }}
    </mat-card-content>
    <span class="message-time">{{ message.date | date: " h:mm" }}</span>
  </mat-card>
</div>
