<div class="message-wrapper" fxLayout="row" fxLayoutAlign="start center">
  <mat-card class="message companion-message">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div>
        <ngx-avatar mat-card-avatar name="Mageridon7" size="35"></ngx-avatar>
      </div>
      <h3>Mageridon</h3>
    </div>
    <hr />
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia natus
      quis vitae voluptate. Commodi doloribus ea id iusto, magnam nobis
      provident quia quo vitae. Adipisci eligendi fugit quae reiciendis sed?
    </mat-card-content>
    <span class="message-time">10:32</span>
  </mat-card>
</div>

<div class="message-wrapper" fxLayout="row" fxLayoutAlign="end center">
  <mat-card class="message">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div>
        <ngx-avatar mat-card-avatar name="Aageridon7" size="35"></ngx-avatar>
      </div>
      <div>
        <h3>Aspadar</h3>
      </div>
    </div>
    <hr />
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, dolores?
    </mat-card-content>
    <span class="message-time">10:33</span>
  </mat-card>
</div>

<div class="message-wrapper" fxLayout="row" fxLayoutAlign="start center">
  <mat-card class="message companion-message">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div>
        <ngx-avatar mat-card-avatar name="Mageridon7" size="35"></ngx-avatar>
      </div>
      <h3>Mageridon</h3>
    </div>
    <hr />
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia natus
      quis vitae voluptate. Commodi doloribus ea id iusto, magnam nobis
      provident quia quo vitae. Adipisci eligendi fugit quae reiciendis sed?
    </mat-card-content>
    <span class="message-time">10:32</span>
  </mat-card>
</div>

<div class="message-wrapper" fxLayout="row" fxLayoutAlign="start center">
  <mat-card class="message companion-message">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div>
        <ngx-avatar mat-card-avatar name="Urus" size="35"></ngx-avatar>
      </div>
      <h3>Urus</h3>
    </div>
    <hr />
    <mat-card-content> Lorem ipsum dolor sit amet. </mat-card-content>
    <span class="message-time">10:32</span>
  </mat-card>
</div>

<div class="message-wrapper" fxLayout="row" fxLayoutAlign="end center">
  <mat-card class="message">
    <div fxLayout="row" fxLayoutAlign="start center" dir="rtl">
      <div>
        <ngx-avatar mat-card-avatar name="Aageridon7" size="35"></ngx-avatar>
      </div>
      <div>
        <h3>Aspadar</h3>
      </div>
    </div>
    <hr />
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, dolores?
    </mat-card-content>
    <span class="message-time">10:33</span>
  </mat-card>
</div>
